<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blog</title>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <% if (typeof success !== 'undefined') { %>
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast align-items-center text-white bg-success border-0 show" role="alert">
                <div class="d-flex">
                    <div class="toast-body">
                        <%= success %>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                </div>
            </div>
        </div>
    <% } %>

    <% if (!blog) { %>
        <div class="container mt-5 text-danger">
            <h2>Error: Blog not found.</h2>
        </div>
    <% } else { %>
    <div class="container mt-4">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" width="200px"/>
        <pre class="mt-3"><%= blog.body %></pre>
    </div>

    <div class="container mt-4">
        <img src="/uploads/<%= blog.profileImageUrl %>" width="50px" />
        <%= blog.fullname %>
    </div>

    <div class="container mt-3">
        <% if(locals.user) { %>
        <h1>Comments (<%= comments.length %>)</h1>
        <form action="/blog/comment/<%= blog.id %>" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" name="content" placeholder="Enter your comment">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <% } %>
        <div class="mt-3">
            <% comments.forEach(comment => { %>
                <div>
                    <img src="/uploads/<%= comment.commenterImage %>" width="50px" />
                    <%= comment.commenterName %>:
                    <pre><%= comment.content %></pre>
                </div>
            <% }) %>
        </div>
    </div>
    <% } %>
    <%- include('./partials/script') %>
</body>

</html>